<%# in app/views/create.html.erb %>
<h2> Create page </h2>

<%= form_with model: @task, class: 'create-task' do |f| %>
  <p>Please provide the following information to add your new task:</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

   <%= f.label :completed_at %>
  <%= f.text_field :completed_at %>

  <%= f.submit "Save Task", class: "task-button" %>
<% end %>