<h1>Current Task Information</h1>

<p><%= @task.name%></p>
<p><%= @task.description %></p>
<p>Completed: <%= @task.completed_at %></p>

<%= form_with model: @task, class: "edit-task" do |f| %>
  <p>Please re-enter updated information for this task</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "edit task", class: "submit button" %>
<% end %>

<%= link_to "All Tasks", tasks_path %>