<%= form_with model: @task, class: 'edit-task' do |f| %>

  <p>Please provide the following information to edit the task on your list:</p>
    
    <%= f.label :name %>
    <%= f.text_field :name%>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <br>
    <%= f.submit "Edit Task", class: "task-button" %>
<% end %> 