<%# in app/views/edit.html.erb %>
<%# edit action is responsible for rendering the view %>
<h2>  Edit page </h2>

<%= form_with model: @task, class: 'create-task' do |f| %>
  <p>Please provide the following information to edit your task:</p>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>

<div>
  <%= f.label :completed_at %>
  <%= f.text_field :completed_at %>
</div>

  <%= f.submit "Edit Task", class: "task-button" %>
<% end %>