<h1>Edit A Task</h1>
<%= form_with model: @task, class: 'create-task' do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Save", class: "task-button" %>
<% end %>