<h2>Edit Your Task</h2>

<%= form_with model: @task do |f| %>
    <p>Please provide the following information to update a task in our database:</p>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    <br/><%= f.submit "Update a task" %>
<% end %>