<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      Task id: <%= task.id %>
      Name: <%= link_to(task.name, task_path(task)) %>
      Description: <%= task.description %>
      Completed_at: <%= task.completed_at %>
      Created_at: <%= task.created_at.strftime("%-m/%-d/%y") %>
      Updated_at: <%= task.updated_at.strftime("%-m/%-d/%y") %>
    </li>
  <% end %>
</ul>

<%#= link_to "Delete #{task.title}", task_path(task.id), method: :delete %>
