<h1>Welcome!</h1>
<h2>Let's checkout our tasks:</h2>
<ol>
  <% @tasks.each do |task| %>
  <li>
    <%= link_to task.name, task_path(task)%> || <%=task.description %> || <%= task.completed_at %>
    <%= link_to "Edit", edit_task_path(task) %>
  </li>
    <%end %>
</ol>

<p><%= link_to "Home", root_path, class: "home_button" %></p>
<%= link_to "Add A Task", new_task_path, class: "task_button" %>