<h2>Tasks list</h2>
<% if @tasks.length > 0 %>
    <ul>
    <% @tasks.each do |task| %>
        <% if task.completed_at.nil? %>
            <li> <%= link_to  safe_task_name(task), task_path(task) %></li>
                <span class="index_task_edit"><%= link_to "Mark as Complete", complete_task_path(task.id), method: :patch %></span><span class="index_task_edit"> | <%= link_to "Edit Task", edit_task_path(task.id) %></span><span class="index_task_edit" id='delete_task'> | <%= link_to "Delete Task", delete_task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %></span> 
        <% else %>
            <li class="completed_task"> <%= link_to safe_task_name(task), task_path(task) %></li>
            <span class="index_task_edit"><%= link_to "Unmark as Complete", uncomplete_task_path(task.id), method: :patch %></span></span><span class="index_task_edit"> | <%= link_to "Edit Task", edit_task_path(task.id) %></span><span class="index_task_edit" id='delete_task'> | <%= link_to "Delete Task", delete_task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %></span> 
        <% end %>
    <% end %>
    </ul>
<% else %>
        <h3>No tasks</h3>
<% end %>

<p class="buttons">
    <%= link_to "Add a New Task", new_task_path %>
</p>