<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= link_to task.name, tasks_path(task) %>
      <ul>

        Description: <%= task.description %> <%= link_to "Show Task", task_path(task.id) %>, <%= link_to "Edit Task", edit_task_path(task) %><%= link_to "Delete #{task.name}", task_path(task.id), method: :delete %>

      </ul>
    </li>

  <% end %>
</ul>
<%= link_to "Add Task", new_task_path %>