<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed_at.blank? %>
        <%= link_to "#{task.name}", task_path(task.id) %>: <%= task.description %>
        <%= link_to "Mark Completed", toggle_complete_path(task.id), method: :patch %>
      <% else %>
        <del><%= link_to "#{task.name}", task_path(task.id) %>: <%= task.description %></del>
        <%= link_to "Unmark Completed", toggle_complete_path(task.id), method: :patch %>
      <% end %>
      <%= link_to "Edit", edit_task_path(task.id) %>
      <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
    </li>
  <% end %>
</ul>

<%= link_to "New Task", new_task_path %>
