<h1>TASKS LIST</h1>
<ul>
  <%@tasks.each do |task| %>
    <li>
      <%= link_to(task.name, task_path(task.id)) %>,
      Description: <%= task.description %> ,
      Completed: <%= task.completed_at %>
      <%= link_to "Delete #{task.name}", task_path(task.id), method: :delete, data:{confirm: 'Please confirm you would like to delete this task.'} %>
      <%= button_to  "Mark as complete/incomplete", task_done_path(task.id) %>
    </li>
  <% end %>
</ul>
<%= link_to "Add Task", new_task_path %>

