<h1>Tasks</h1>
<div>
  <% @tasks.each do |task| %>
    <ul>
      <li>
          <%= link_to task.name, task_path(task.id)  %>
          <%= link_to 'Edit Task', edit_task_path(task.id) %>
          <%= link_to 'Delete Task', confirm_task_path(task.id) %>
      </li>
      <% if task.completed_at.nil? || task.completed_at == "" %>
        <li>
          <%= link_to "Mark as Completed", complete_task_path(task.id), method: :patch %>
        </li>
      <% else %>
      <li>
        <%= link_to "Mark as Uncompleted", complete_task_path(task.id), method: :patch%>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div>
  <%= link_to 'Add Task', new_task_path %>
</div>