<h1>HOME PAGE: TASK APP OF ALL TASK APPS</h1>
<h2>DO YOU HAVE A LIST?</h2>
<h2>THIS APP WILL STORE YOUR LIST</h2>


<% if @tasks.length > 0 %>
  <ul>
    <% @tasks.each do |task| %>
    <li>
      <div class="row">
        <input type="checkbox"> <span>
        <%= link_to task.name, task_path(task.id) %><%=" - " + task.description %>
        <%= button_to "Edit", edit_task_path(task.id), method: :get %>
        <%= button_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Are you sure?"}%>
        <% if task.completed_at.nil? %>
          <%= button_to "ðŸ”² Mark Complete?", complete_task_path(task.id), method: :get %>
        <% else %>
          <%= button_to "â˜‘ï¸ Unmark Complete?", complete_task_path(task.id), method: :get %>
          <%#= button_to "Mark Uncomplete?", complete_task_path(task.id), method: :get
          # how do I then return the value to nil?  Have an entire uncomplete method too? %>
        <% end %>

      </span>
      </div>
    </li>
    <% end %>
  </ul>
<% else %>
  <h3>No tasks in the system yetðŸ˜¥ time to add some tasks!</h3>
<% end %>

<%= button_to "Create New Task", new_task_path, method: :get %>