<header>
  <h1>TASKLIST</h1>
</header>

<div class="actions">
  <div class="button"><%= link_to "Add Task", new_task_path %></div>
  <div class="break"></div>
  <div class="button"><%= link_to "All Tasks", tasks_path %></div>
</div>

<div class="list">
  <h2>YOUR TASKS</h2>
  <ol>
    <% Task.all.each do |task| %>
      <li>
        <strong><%= link_to task.name.capitalize, task_path(task.id) %></strong><br>
        TO:DO COMPLETION MARKING | <%= link_to "Edit", edit_task_path(task.id) %> | <%= link_to "Delete", task_path(task.id), method: :destroy %>
        <!--        <%#= task.name %>: <%#= task.description %> ||-->
<!--        status: <%#= task.completed_at.nil? ? "Incomplete" : task.completed_at %>-->
      </li>
    <% end %>
  </ol>
</div>