<div class="list">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <h2>tasks</h2>
  <ol>
    <% Task.order('created_at').all.each do |task| %>
      <li>
        <% if task.completed_at.nil? || task.completed_at.empty? %>
          >> <%= link_to task.name.downcase, task_path(task.id), class: "incomplete" %><br>
          <%= link_to "mark complete", task_completion_path(task.id), method: :patch %> |
        <% else %>
          >> <%= link_to task.name.downcase, task_path(task.id), class: "complete" %><br>
          <%= link_to "mark incomplete", task_completion_path(task.id), method: :patch %> |
        <% end %>
        <%= link_to "edit", edit_task_path(task.id) %> |
        <%= link_to "delete", task_path(task.id), method: :delete, data: { confirm: "are we sure?" } %>
      </li>
    <% end %>
  </ol>
  <div class="button"><%= link_to "add task", new_task_path %></div>
</div>