<h1>Task List!</h1>
<ul>
<% @tasks.each do |task| %>
  <li><h2><%= link_to task.name, task_path(task) %></h2></li>
  <li>Description: <%= task.description %></li>
  <li>Completed at: <%= task.completed_at %></li>
    <li><h4><%= link_to 'Edit Task', edit_task_path(task) %></h4></li>
    <li><h4><%= link_to 'Delete Task', task_path(task), method: :delete,
    data: {confirm: 'Sure you want to delete?'} %></h4></li>
  <hr>
<% end %>
</ul>
<h3><%= link_to "Add new task", new_task_path %></h3>