<h1>Tasks</h1>
<% if @tasks.length > 0 %>
    <ul>
        <% @tasks.each do |task|  %>
        <li>
            <%= link_to task.name, task_path(task)%>
            <%= link_to "Edit Task", edit_task_path(task) %>
            <%= link_to "Delete Task", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %>
            <% if task.completed_at.nil? %>
                <%= link_to "Mark Complete", mark_complete_path(task), method: :patch %>
                <% else %>
                <%= link_to "Mark Incomplete", mark_complete_path(task), method: :patch %>
            <% end %>
        </li>
        <% end %>
    </ul>
<% else %>
    <p>No tasks in the system</p>
<% end %>
<%= link_to "Add Task", new_task_path %>
