<h1>Task List</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      Task: <%= link_to task.name, task_path(task) %>,
      Description: <%= task.description %>,
      Completed at: <%= task.completed_at %> <%= link_to "Edit Task", edit_task_path(task) %>
    </li>
  <% end %>
</ul>
<%= link_to "Add Task", new_task_path %>