<div id="tasks_container" class="container">
  <div class="row">
    <div id="action_btns" class="col">
      <%= link_to "Add Task", new_task_path, :class => "action-btn btn btn-primary" %>
      <%= link_to "All Tasks", tasks_path, :class => "action-btn btn btn-primary" %>
    </div>
    <div id="tasks" class="col">
      <h3>Your Tasks</h3>
      <% if @tasks.length > 0 %>
        <ol>
          <% @tasks.each do |task| %>
            <li>
              <%= link_to task.name, task_path(task), :class => (task.completed_at.nil? || task.completed_at.empty? ? "" : "completed-task") %>
              <p>
                <%= link_to (task.completed_at.nil? || task.completed_at.empty? ? "Mark Complete" : "Mark Incomplete"), toggle_complete_task_path(task), :method => :patch %> |
                <%= link_to "Edit", edit_task_path(task) %> |
                <%= link_to "Delete", task, data: {confirm: "Are you sure you want to delete this task?"}, :method => :delete %>
              </p>
            </li>
          <% end %>
        </ol>
      <% else %>
        <p>You have no tasks.</p>
      <% end %>
    </div>
  </div>
</div>