<h2>TO DO:</h2>
<ol>
  <% @tasks.each do |task|  %>
    <li>
      <% if task.completed_at.blank? %>
        <%= link_to task[:name], task_path(task) %><br>

        <%= link_to "Complete", toggle_complete_path(task.id), method: :patch %> |
        <%= link_to "edit", edit_task_path(task)%> |
        <%= link_to "delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %>

      <% else %>
        <%= link_to task[:name], task_path(task) %><br>

        <%= link_to "DONE", toggle_complete_path(task.id), method: :patch %> |
        <%= link_to "edit", edit_task_path(task)%> |
        <%= link_to "delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    </li>
    <br>
  <% end %>
</ol>

<%= button_to "ADD NEW", new_task_path(@task) %> 
