<h2>Tasks</h2>


<ul>
  <% @tasks.each do |task| %>
  <li>
   <a href="<%= task_path(task) %>"><%= task[:name] %></a>- <%= task[:description] %>
    <%= link_to "Delete", task_path(task.id), method: :delete %>
    <%= link_to "Update", edit_task_path(task.id) %>
    <% if task.completed_at.blank? %>
      <%= link_to "Mark not done", toggle_complete_path(task.id), method: :patch %>
    <% else %>
      <%= link_to "Mark done", toggle_complete_path(task.id), method: :patch %>
    <% end %>
  </li>
  <% end %>
</ul>

