<!--<div class="actions">-->
<!--  <div class="button"><%#= link_to "Add Task", new_task_path %></div>-->
<!--</div>-->

<header>
  <div class="header-content">
    <%#= image_tag "checklist.png", alt: "Icon of a check mark" %>
    <h2>tasklist</h2>
  </div>
</header>

<div class="list">
  <h2>tasks</h2>
  <ol>
    <% Task.all.each do |task| %>
      <li>
        <% if task.completed_at.nil? %>
          <%= link_to task.name.capitalize, task_path(task.id), class: "incomplete" %><br>
          Mark Complete |
        <% else %>
          <%= link_to task.name.capitalize, task_path(task.id), class: "complete" %><br>
          Unmark Complete |
        <% end %>
        <%= link_to "Edit", edit_task_path(task.id) %> |
        <%= link_to "Delete", task_path(task.id), method: :delete %>
      </li>
    <% end %>
  </ol>
  <div class="button"><%= link_to "add task", new_task_path %></div>
</div>