<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="stylesheets/style.css" rel="stylesheet">
  <title>Tasklist</title>
  <link href="https://fonts.googleapis.com/css2?family=Gelasio&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Tasklist</h1>
    <nav>
      <ul>
        <%= link_to content_tag(:li,"All tasks"), root_path, method: :get %>
        <%= link_to content_tag(:li,"Add new task"), new_task_path, method: :get %>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Tasks</h1>
    <ul class = "tasklist">
      <% @tasks.each do |task|  %>
        <li>
          <h2>
          <% if task[:completed_at].nil?%>
            <%= task[:name] %>
          <% else %>
            <s><%= task[:name] %></s>
          <% end %>
            <br/> <div class = "toggle-complete"><%= task[:completed_at].nil? ? "Incomplete" : "Completed at #{task[:completed_at]}" %></div>
           </h2>
          <p><%= task[:description].length < 50 ? task[:description] : task[:description][0...50]+"..."%></p>
          <ul class = "task-options">
            <%= link_to content_tag(:li, "View"), task_path(task.id), method: :get %>
            <%= link_to content_tag(:li, "Edit"), edit_task_path(task.id), method: :get %>
            <%= link_to content_tag(:li, "Toggle complete"), toggle_complete_task_path(task.id), method: :patch %>
            <%= link_to content_tag(:li, "Delete"), task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete this task?"}%>
          </ul>
        </li>
      <% end %>
    </ul>
  </main>
 </body>
</html>

