<h3>New Task</h3>
<%= form_with model: @task, class: 'create-task' do |f| %>
  <p>Add your task:</p>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label :description %><br>
  <%= f.text_field :description %><br>
  <br>
  <%= f.submit "Add Task", class: "task-button"%>
<% end %>