<%= form_with model: @task do |f| %>
  <p>Please provide the following information to create a task:</p>

<div>
  <%= f.label :name %>
  <%= f.text_field :name %> 
  </div>


<div>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </div>

  <div>
  <%= f.label :completed_at %>
  <%= f.text_field :completed_at %>
  </div>

<div>
  <%= f.submit "Create Task", method: :patch %>
<% end %>

</div>