<%= form_with model: @task, class: "create-task" do |f| %>
  <p>What is your task?</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "enter task", class: "submit button" %>
<% end %>