<h2> New task page</h2>

<%= form_with model: @task, class: 'create-task' do |f| %>
<p>Please provide the following task details:</p>

<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>

<div>
    <%= f.label :description %>
    <%= f.text_field :description %>
</div>

<div>
    <%= f.label :completed_at %>
    <%= f.text_field :completed_at %>
</div>

<%= f.submit "Save Task", class: "task-button" %>
<% end %>