<main>
  <ul class = items>
    <li>
      <%= form_with model: @task, class: 'create-task' do |f| %>
        <h1>New Task</h1>
        <h4>Please provide the following information to save your book to our database:</h4>
        <div>
          <p><%= f.label :name %></p>
          <p><%= f.text_field :name %></p>

          <p><%= f.label :description %></p>
          <p><%= f.text_area :description %></p>

        </div>
        <%= f.submit "Save Task", class: "task-button" %>
      <% end %>
    </li>
  </ul>
</main>
