
<%= form_with model: @task, class: 'create-task' do |task|%>
  <p>Enter your information to create a new task:</p>

  <p><%= task.label :name %>
    <%= task.text_field :name %></p>

  <p><%= task.label :description %>
    <%= task.text_field :description %></p>

  <p><%= task.label :completed_at %>
    <%= task.text_field :completed_at %></p>

  <p><%= task.submit "Create Task", class: "task_button" %></p>
<%end %>


<p><%= link_to "Home", root_path, class: "home_button" %></p>