<header>
  <h1><%= link_to "For When You Finish Your Homework", tasks_path, class:"header-link-text" %></h1>
</header>

<main>

  <h2>New Task</h2>


  <%= form_with model: @task, class: 'create-task' do |f| %>
    <p class="text">Please enter the following information about the task:</p>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <%= f.submit "SUBMIT TASK", :class => "button", :id => 'big-button' %>
  <% end %>

</main>

<footer>
  <div id="footer">
    <h2>&#169; SCHANEN 2020</h2>
  </div>
</footer>
