<h1>New Task</h1>

<%= form_for @task do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>
    <%= f.label :completed_at %>
    <%= f.text_field :completed_at %>

    <%= f.submit "Add a new task"%>
<% end %>

