<h3>New Task</h3>
<%= form_with model: @task, class: 'create-task' do |f| %>
  <p>Please enter the new task:</p>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label :description %><br>
  <%= f.text_field :description %><br>
  <br>
  <%= f.label :completed_at %><br>
  <%= f.text_field :completed_at %><br>
  <br>
  <%= f.submit "Save Task", class: "task-button"%>
<% end %>