<h1>Tasks</h1>
<ul>
    <li>
      <%= @task.name %>
      <ul>
        <%= @task.description %>
      </ul>
      <ul>
        <%= @task.started_at %>
      </ul>
      <ul>
        <%= @task.completed_at %>
      </ul>
      <%= link_to "Edit", edit_task_path(@task) %> or
      <%= link_to "Delete", task_path(@task.id), method: :delete %>

    </li>

</ul>