<h1><%= @task.name %></h1>

<ul>
  <li><%= @task.description %></li>
  <li>Completed on: <%= @task.completed_at %></li>
</ul>


<%= link_to "Edit Task", edit_task_path(@task) %>

<%= link_to "All Tasks", tasks_path %>