<div>
    <h4> Task Details</h4>
    <br>
    <ul>
        <li>Name: <%= @task.name %> </li>
        <br>
        <li>Description: <%= @task.description %></li> 
        <br>
        <li>Status: <%= @task.complete %></li> 
        <br>
        <li><%= link_to "Edit #{@task.name}", edit_task_path(@task.id) %></li> <%# @task or @task.id is both accepted %>
        <br>
        <li><%= link_to "Delete #{@task.name}", task_path(@task), method: :delete, data: { confirm: "Are you sure?"} %></li>
    </ul>
</div>

 <p><%= link_to "Return to Task List", tasks_path %></p>

