<h2>Task: <%= @task.id %></h2>
<h3><%= @task.name %></h3>
<h3>Description: <%= @task.description %></h3>
<h3>completed at: <%= @task.completed_at %></h3>

<p><%= link_to "Return to task List", tasks_path %></p>