<h1><%= @task.name %></h1>
<h2><%= @task.description %></h2>
<h5>Completed at: <%= @task.completed_at %></h5>
<%= link_to "Mark Complete", task_complete_path(@task), method: :put %> |
<%= link_to "Edit", edit_task_path(@task) %> |
<%= link_to "Delete", task_path(@task), method: :delete, data: {confirm: "Are you sure?"}%>
<p><%= link_to "Return to Task List", tasks_path %></p>
