<!DOCTYPE html>
<html>
<head>
  <title>Task: <%= @task[:name] %></title>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path, method: :get %></li>
      <li><%= link_to "Edit", edit_task_path(@task.id), method: :get %></li>
      <li><%= link_to "Toggle complete", toggle_complete_task_path(@task.id), method: :patch %></li>
      <li><%= link_to "Delete Task: #{@task.name}", task_path(@task.id), method: :delete , data: {confirm: "Are you sure you want to delete this task?"}%></li>
    </ul>
  </nav>
  <% if @task[:completed_at].nil?%>
    <h1><%= @task[:name] %></h1>
  <% else %>
    <h1><strike><%= @task[:name] %></strike></h1>
  <% end %>
</header>

  <h2>Status: <%= @task[:completed_at].nil? ? "Incomplete" : "Completed at #{@task[:completed_at]}" %></h2>
  <p><%= @task[:description] %></p>
<li><%= link_to "Back to Tasklist", root_path, method: :get %></li>
</body>
</html>



