<h2>Task #<%= @task.id %></h2>
<ul>
  <li>
    Task name: <%= @task.name %>
  </li>
  <li>
    Description: <%= @task.description %>
  </li>
  <% if @task.nil? %>
    <li>Completed: <%= @task.completed_at %></li>
  <% else %>
    <li>Task not completed</li>
  <% end %>

</ul>
<p>
  <%= link_to "Edit task", edit_task_path %>
</p>
<p>
  <%= link_to "Return to task list", tasks_path %>
</p>


