<h3><%= "Check this everyday!".upcase %></h3>

<div>
    <h4><%= @task.name %>:</h4>
    <h5><%= @task.description %></h5>
    <% unless @task.completed_at.nil? %>
      <p>-- Completed at <%= @task.completed_at %> -- </p>
    <% end %>  
    <%= link_to " Edit", edit_task_path(@task) %> / <%= link_to " Delete", task_path(@task), method: :delete, data: {confirm: "Are you sure?"} %>
</div>
