<!DOCTYPE html>
<html>
<head>
  <title>Task: <%= @task[:name] %></title>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href=<%="#{@task[:id]}/edit"%>>Edit</a></li>
      <li>Mark complete</li>
      <li>Delete</li>
    </ul>
  </nav>
  <h1><%= @task[:name] %></h1>
</header>

  <h2>Status: <%= @task[:completed_at].nil? ? "Incomplete" : "Completed at #{@task[:completed_at]}" %></h2>
  <p><%= @task[:description] %></p>
<a href="/">Back to Tasklist</a>
</body>
</html>



