<h1><%= @task.name%></h1>

<p><%= @task.description %></p>
<p>Completed: <%= @task.completed_at %></p>

<%= link_to "Edit Task", edit_task_path(@task) %>
<%= link_to "Change Completion Status", toggle_task_path(@task), method: :patch%>
<%= link_to "All Tasks", tasks_path %>
<%= link_to "Delete Task", task_path(@task), method: :delete, data: {confirm: "Are you sure?"} %>