<h1>Tasks</h1>
<ul>
    <li>
      <%= task.name %>
      <ul>
        <%= task.description %>
      </ul>
      <ul>
        <%= task.started_at %>
      </ul>
      <ul>
        <%= task.completed_at %>
      </ul>
      <%= link_to "Edit Task", edit_task_path(task) %>
    </li>

</ul>