<main>
  <h5><%= @task.name %></h5>
  <p><%= @task.description %></p>
  <p>Completed: <%= @task.completed_at %></p>
  <%= button_to "Edit Task", edit_task_path, method: :get, class: "btn btn-warning btn-sm" %>
  <%= button_to "Delete Task", confirm_delete_task_path(@task.id), method: :get, class: "btn btn-danger btn-sm" %>
  <p>
    <%= button_to "Return to Task List", root_path, method: :get, class: "btn btn-primary" %>
  </p>
</main>
