<h1>TASK DETAILS</h1>
<ol class="task-detail">

    <li>
      Title: <%= @task.name %></br>
      Description: <%= @task.description %></br>
      completed at: <%= @task.completed_at %></br>
    </li>

  <button><%= link_to "Edit", edit_task_path(@task)%></button>
  <button><%= link_to "Delete", task_path(@task.id), method: :delete, data: {confirm: "Are you sure?"}%></button>
  <button><%= link_to "Mark as Complete", complete_task_path(@task.id), method: :patch %></button>
  <button><%= link_to "Back to Task List",tasks_path%></button>


</ol>
