<!DOCTYPE html>
<html>
  <head>
    <title>Ayesha's Task List Application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <% link_to "Home", root_path %>
    </nav>
  </header>
    <%= yield %>
  </body>
  <footer>
    <p>Copyright Ayesha Asif 2020</p>
  </footer>
</html>
