<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Task List</h1>
    <%= yield %>

<!--    <p><%#= link_to "Add Task", new_task_path %></p>-->
<!--    <p><%#= link_to "All Tasks", tasks_path %></p>-->

  <footer>
    <p>© Kim Vitug 2020</p>
  </footer>
  </body>
</html>
