<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <section class="title">
      <h3> <%= link_to "Task List", root_path %> </h3>
    </section>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>Copyright SEM 2020</p>
  </footer>

  </body>

</html>
