<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Tasklist</h1>

    <nav>
      <%= link_to "Add New Task", new_task_path, class: "add-task-link" %>
      <%= link_to "Show all", root_path, class: "show-all-link" %>
    </nav>

    <%= yield %>
    <footer>
      <p>Copyright © 2020 Jasmine Lopez</p>
    </footer>
  </body>
</html>
