<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <section class="title">Richelle's Task App</section>
    <nav>
      <ul>
        <li><%= link_to "Home - Tasks", tasks_path %></li>
        <li><%= link_to "Create New Task", new_task_path %></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>&copy 2020 RMS</p>
  </footer>
  </body>
</html>
