<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="body-container">
      <%= yield %>
      <footer>
        <%= link_to "Background image attributed to Ricky Eckhardt", "https://codepen.io/rickyeckhardt/pen/poJwRRb" %>
      </footer>
    </div>
  </body>
</html>
