<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1>Welcome to Task my List!</h1>
  </header>

  <body>
    <%= yield %>
  <footer>
    &copy; 2020 Kayla Johnson
  </footer>
  </body>
</html>
