<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!--<header>-->
<!--  <h1>Taskity Tasks</h1>-->
<!--  <nav>-->
<!--    <ul>-->
<!--      <li> <%#= link_to "Create a Task", new_task_path %></li>-->
<!--      <l> <%#= link_to "Edit a Task", edit_task_path%></l>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</header>-->
  <body>
    <%= yield %>
  </body>
</html>
