<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>Welcome</h1>

    <nav>
      <ul>
<!--        <li><a href="<%#= new_task_path %>">Add a task</a></li>-->
        <li><%= link_to "Create a task", new_task_path %></li>
        <li><%= link_to "Home", root_path%></li>
      </ul>
    </nav>

  </header>


  <body>
    <%= yield %>
  </body>
  <footer>
    <p>Copyright Ada C14 2020</p>
  </footer>

</html>
