<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class = "nav-link"><%= link_to 'Tasks', root_path%></div>
        <div class = "nav-link"><%= link_to 'New Task', new_task_path%></div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
